

.header-background-img {
  background: url("./picture/Hero-bg.png");
        /*box design    */
  width: 100%;
  height: 652px;
  margin-bottom: 30px;
 

  display: flex;
 justify-content: center;
}
         /* box style   */
.bannar-content {
  width: 998px;
  height: 582px;
  left: 221px;
  right: 221px;
  top: 157px;
  bottom: 4506px;
  text-align: center;
}
.first-h3 {  
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
width: 998px;
height: 136px;

}
.first-h5{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400px;
  line-height: 26px;
  letter-spacing: 0%;
 
  opacity: 0.7;

  width: 998px;
  height: 52px;

}

.btn-1 {
border-radius: 8px;
background: rgb(13, 19, 33);

width: 208px;
height: 66px;

 color: rgb(255, 255, 255);
 font-family: Azeret Mono;
 font-size: 20px;
 font-weight: 600;
 line-height: 23px;
 letter-spacing: 0%;
}

/* 2nd page */

.second-h3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;

  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.second-h5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;

  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.box-h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;

}
.box-h5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;

  opacity: 0.7;
}
.box-button {  
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 20px;
  
}
.box-text {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
width: 50%;
}
.box-img {
width: 259.56px;
height: 217.01px;
left: 0.36%;
right: -0.36%;
top: 1.74%;
bottom: -1.74%;
}
.boxx { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
 
}
.box-bahir{
  border-radius: 16px;
  background: linear-gradient(90.00deg, rgb(180, 177, 177),rgba(255, 255, 255, 0) 100%);

  display: flex;
  

padding: 48px;
}
.box-bahir2{
  border-radius: 16px;
  background: linear-gradient(270.00deg, rgb(180, 177, 177),rgba(255, 255, 255, 0) 100%);

  display: flex;


padding: 48px;
}

.page2 {
  display: flex;
  flex-direction: column;
  align-items: center;

 
  

 
}
.page22-bahir {
  border-radius: 16px;
  background: rgb(144, 198, 222);
 
width: 1000px;
margin: 0 auto;

  padding-bottom: 80px;
}
  
/*  page 3 suru*/
.page3-h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;

  display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
}
.page3-h5 {
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;

opacity: 0.7;


  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.page3-yt-bahir {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  

  display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 32px;

}
.ytvideo {

  border-radius: 16px;
  position: static;
  width: 1076px;
  height: 550px;
 
}
.page3 {
 
  width: 1000px;
margin: 0 auto;


}

/* page 4 suru */
.page4h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;


}
.page4h5 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;

  opacity: 0.7;

  width: 284px;
height: 52px;

}
.page4img {

}
.learn {
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}
.page4heading {


}
.barbox1 {
  border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
padding: 30px 0px 30px 30px;

} 
.barbox2 {
  border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
padding: 30px 0px 30px 30px;
} 
.barbox3 {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  padding: 30px 0px 30px 30px;
} 
.box-container {
display: flex;
gap: 24px;
justify-content: center;



}
.box4-1 {
 
       
}
 /*    2 er kaj suru */
.carimg {
 margin: 50px 0px 0px 0px;

}
.cartext {
  padding: 0px 0px 0px 30px;

justify-content: center;
}
.cartext-h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.cartext-h5 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.cartext-learn {
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;

}
.carbox {
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);

padding: 40px;
margin: 15px;
}
.box-dibba {
  display: flex;
  flex-direction: column;

}
.divbox4-2 {

}
.box4full {
  width: 1000px;
margin: 0 auto;
}


/*  page 5 suru*/
.page5-h3 { 
  color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
text-align: center;
width: 900px;
height: 36px;

}
.page5-h5{
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  width: 900px;
  height: 52px;
}
.pic-text {
display: flex;
flex-direction: column;
text-align: center;



}

.pic-box {
  background: url("./picture/handshake.jpg"); 
border-radius: 16px;


}


.last-part {
 

  width: 1000px;
  margin: 0 auto;

  padding: 64px 48px;
}


.name-box {
display: flex;
justify-content: center;
text-align: center;
padding: 50px 50px 50px 50px;
margin: 10px 10px 10px 10px;


}
.placeholder {
  box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);

width: 548px;
height: 57px;
}
.button5 {
 
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;

border-radius: 8px;
background: rgb(255, 255, 255);
width: 120px;
height: 57px;
}
/* footer */

.footer {

display: flex;
flex-direction: row;
justify-content: space-between;

border-radius: 16px;

background: rgba(13, 19, 33, 0.03);

}
.textfooter {

  padding: 0px 130px;
} 
.img-footer {
  padding: 0px 130px;
}