 .header-background-img {
  background: url("./picture/Hero-bg.png");
        /*box design    */
  width: 1440px;
  height: 652px;
  left: 1440px;
  right: -1440px;
  top: 131px;
  bottom: 4462px;

  display: flex;
 justify-content: center;
}
         /* box style   */
.bannar-content {
  width: 998px;
  height: 582px;
  left: 221px;
  right: 221px;
  top: 157px;
  bottom: 4506px;
  text-align: center;
}
.first-h3 {  
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
width: 998px;
height: 136px;

}
.first-h5{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400px;
  line-height: 26px;
  letter-spacing: 0%;
 
  opacity: 0.7;

  width: 998px;
  height: 52px;

}

.btn-1 {
border-radius: 8px;
background: rgb(13, 19, 33);

width: 208px;
height: 66px;

 color: rgb(255, 255, 255);
 font-family: Azeret Mono;
 font-size: 20px;
 font-weight: 600;
 line-height: 23px;
 letter-spacing: 0%;
}

/* 2nd page */

.second-h3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;

  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.second-h5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;

  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.box-h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;

}
.box-h5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;

  opacity: 0.7;
}
.box-button {  
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 20px;
  
}
.box-text {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
width: 50%;
}
.box-img {
width: 259.56px;
height: 217.01px;
left: 0.36%;
right: -0.36%;
top: 1.74%;
bottom: -1.74%;
}
.boxx { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
 
}
.box-bahir{
  border-radius: 16px;
  background: linear-gradient(90.00deg, rgb(67, 63, 63),rgba(255, 255, 255, 0) 100%);

  display: flex;
flex-direction: column-reverse;
justify-content: flex-start;
align-items: flex-start;
padding: 48px;
}
.box-bahir2{
  border-radius: 16px;
  background: linear-gradient(270.00deg, rgb(67, 63, 63),rgba(255, 255, 255, 0) 100%);

  display: flex;
flex-direction: column-reverse;
justify-content: flex-start;
align-items: flex-start;
padding: 48px;
}

.page2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;

}
.page2-bahir {
  border-radius: 16px;
  background: rgba(20, 192, 43, 0.644);
  position: absolute;
  width: 1140px;
  height: 1395px;
  left: 148px;
  right: 152px;
  top: 857px;
  bottom: 2993px;
  


}